.word, .split{
    display: inline-block;
    position: relative;
    font-size: 2em;
    line-height: 1.8em;
}

.mistake {
    color: #D00;
    background-color: #FF000020;
}

.passed {
    color: green;
}

.multiplayer {
    color: #CCCCCC;
    background-color: #333;
}

.caret {
    border-bottom: 2px solid transparent;
    animation: PulseAttention 2s cubic-bezier(.2, 1, .4, 1) infinite forwards;
}

@keyframes PulseAttention {
    70% {
        border-color: #AAAAAA;
    }
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.background {
    background-color: #333;
}

#text-div, #basic-info {
    color: #AAA;
    font-family: monospace;
}

#basic-info {
    opacity: 0;
}

header, .modal-header {
    background-color: #3A3A3A;
    color: #FFF;
}

header {
    padding: 1em;
    border-radius: 0 0 1em 1em;
}

footer {
    background-color: #3A3A3A;
    color: #222;
    padding: 0.5em;
    border-radius: 1em 1em 0 0;
}

#text-div {
    background-color: #373737;
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
}

#basic-info {
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.modal-content {
    background-color: #555;
    border: #555 solid 5px;
    border-radius: 1em;
}

.modal-body {
    background-color: #333;
    color: #FFF;
    font-size: 1.5em;
}

.modal-header {
    font-size: 1.9em;
}